h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 0; }

body {
  color: #444;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 4em;
  font-weight: 900;
  margin: 0;
  color: #444; }

h2 {
  margin: 0;
  font-size: 3em;
  color: #a2a2a2; }

h3 {
  margin: 0;
  font-size: 2em; }

h4 {
  margin: 0;
  font-size: 1.7em;
  color: #006092; }

h5 {
  margin: 0;
  font-size: 1.4em; }

a {
  color: #0771c4; }

body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0; }

.wrapper {
  margin: 0 1em; }

.box {
  min-height: 170px;
  text-align: center;
  padding: 2em;
  margin: 1em;
  background-color: #8f8f8f;
  border: 1px solid dimgray;
  text-transform: uppercase; }
  .box--title {
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; }
  .box--status {
    font-size: 3em;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 0 .5em; }
  .box-OK {
    background-color: #7dc67d;
    border: 1px solid #5cb85c;
    color: #fff; }
  .box--info {
    font-size: .8em;
    line-height: 1.5em;
    font-weight: 200;
    margin: 0;
    padding: 0; }
  .box--timetaken {
    font-size: 1em;
    font-weight: 200;
    margin: 0;
    padding: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.title {
  display: block;
  position: relative;
  font-size: 2.5em;
  line-height: 2.75em;
  background-color: #fff;
  border-radius: 0 0 .5em .5em;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc; }
  .title-logo {
    display: inline-block;
    position: relative;
    top: .5em;
    padding-right: .5em; }

.taken {
  font-size: .7em;
  color: #aaa; }
  .taken a {
    text-decoration: none;
    color: #777;
    font-weight: 900; }

.box {
  margin: 0; }
