//fonts

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	line-height: 1em;
	margin-bottom: 0;
}

body {
	color: $rc-dark-grey;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 4em;
	font-weight: 900;
	margin: 0;
	color: $rc-dark-grey;
}

h2 {
	margin: 0;
	font-size: 3em;
	color: $rc-dark-grey-50;
}

h3 {
	margin: 0;
	font-size: 2em;
}

h4 {
	margin: 0;
	font-size: 1.7em;
	color: $mp-blue;
}

h5 {
	margin: 0;
	font-size: 1.4em;
}

a {
	color: $rc-science-blue;
}
