body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 1em;
}

.box {
  min-height: 170px;
  text-align: center;
  padding: 2em;
  margin: 1em;
  background-color: $rc-dark-grey-60;
  border: 1px solid $rc-dark-grey-80;
  text-transform: uppercase;
  
  &--title {
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

  &--status {
    font-size: 3em;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 0 .5em; 
  }

  &-OK {
    background-color: $mp-green-80;
    border: 1px solid $mp-green;
    color: $mp-white;
  }

  &--info {
    font-size: .8em;
    line-height: 1.5em;
    font-weight: 200;
    margin: 0;
    padding: 0;

  }

  &--timetaken {
    font-size: 1em;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }
}

.text {

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.title {
  display: block;
  position: relative;
  font-size: 2.5em;
  line-height: 2.75em;
  background-color: #fff;
  border-radius: 0 0 .5em .5em;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;

  &-logo {
    display: inline-block;
    position: relative;
    top: .5em;
    padding-right: .5em
  }
}

.taken {
  font-size: .7em;
  color: #aaa;

  a {
    text-decoration: none;
    color: #777;
    font-weight: 900;
  }
}

.box {
  margin: 0;
}
