// grid variables
$grid-columns: 12;
$grid-max-width: 65em;


// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";


// ==========================================================================
// Rentalcars.com Colour Palette
// ==========================================================================

// Primary colours
// ==========================================================================

// white
$white: #fff;
$rc-white: #fdfefe;
$rc-white-120: #fbfdff;
$rc-white-160: #f3f7f9;
$rc-white-200: #ecf3f8;

// dodger blue
$rc-dodger-blue: #0e94f7;
$rc-dodger-blue-90: mix($rc-dodger-blue, $white, 90%);
$rc-dodger-blue-80: mix($rc-dodger-blue, $white, 80%);
$rc-dodger-blue-70: mix($rc-dodger-blue, $white, 70%);
$rc-dodger-blue-60: mix($rc-dodger-blue, $white, 60%);
$rc-dodger-blue-50: mix($rc-dodger-blue, $white, 50%);
$rc-dodger-blue-40: mix($rc-dodger-blue, $white, 40%);
$rc-dodger-blue-30: mix($rc-dodger-blue, $white, 30%);
$rc-dodger-blue-20: mix($rc-dodger-blue, $white, 20%);
$rc-dodger-blue-10: mix($rc-dodger-blue, $white, 10%);
$rc-dodger-blue-5: mix($rc-dodger-blue, $white, 5%);

// science blue
$rc-science-blue: #0771c4;
$rc-science-blue-90: mix($rc-science-blue, $white, 90%);
$rc-science-blue-80: mix($rc-science-blue, $white, 80%);
$rc-science-blue-70: mix($rc-science-blue, $white, 70%);
$rc-science-blue-60: mix($rc-science-blue, $white, 60%);
$rc-science-blue-50: mix($rc-science-blue, $white, 50%);
$rc-science-blue-40: mix($rc-science-blue, $white, 40%);
$rc-science-blue-30: mix($rc-science-blue, $white, 30%);
$rc-science-blue-20: mix($rc-science-blue, $white, 20%);
$rc-science-blue-10: mix($rc-science-blue, $white, 10%);
$rc-science-blue-5: mix($rc-science-blue, $white, 5%);

// dark grey
$rc-dark-grey: #444;
$rc-dark-grey-90: mix($rc-dark-grey, $white, 90%);
$rc-dark-grey-80: mix($rc-dark-grey, $white, 80%);
$rc-dark-grey-70: mix($rc-dark-grey, $white, 70%);
$rc-dark-grey-60: mix($rc-dark-grey, $white, 60%);
$rc-dark-grey-50: mix($rc-dark-grey, $white, 50%);
$rc-dark-grey-40: mix($rc-dark-grey, $white, 40%);
$rc-dark-grey-30: mix($rc-dark-grey, $white, 30%);
$rc-dark-grey-20: mix($rc-dark-grey, $white, 20%);
$rc-dark-grey-10: mix($rc-dark-grey, $white, 10%);
$rc-dark-grey-5: mix($rc-dark-grey, $white, 5%);
$rc-dark-grey-4: mix($rc-dark-grey, $white, 4%);
$rc-dark-grey-3: mix($rc-dark-grey, $white, 3%);
$rc-dark-grey-2: mix($rc-dark-grey, $white, 2%);
$rc-dark-grey-1: mix($rc-dark-grey, $white, 1%);


// Secondary colours
// ==========================================================================

// turquoise
$rc-turquoise: #46e0c6;
$rc-turquoise-90: mix($rc-turquoise, $white, 90%);
$rc-turquoise-80: mix($rc-turquoise, $white, 80%);
$rc-turquoise-70: mix($rc-turquoise, $white, 70%);
$rc-turquoise-60: mix($rc-turquoise, $white, 60%);
$rc-turquoise-50: mix($rc-turquoise, $white, 50%);
$rc-turquoise-40: mix($rc-turquoise, $white, 40%);
$rc-turquoise-30: mix($rc-turquoise, $white, 30%);
$rc-turquoise-20: mix($rc-turquoise, $white, 20%);
$rc-turquoise-10: mix($rc-turquoise, $white, 10%);

// spring green
$rc-spring-green: #0ae791;
$rc-spring-green-90: mix($rc-spring-green, $white, 90%);
$rc-spring-green-80: mix($rc-spring-green, $white, 80%);
$rc-spring-green-70: mix($rc-spring-green, $white, 70%);
$rc-spring-green-60: mix($rc-spring-green, $white, 60%);
$rc-spring-green-50: mix($rc-spring-green, $white, 50%);
$rc-spring-green-40: mix($rc-spring-green, $white, 40%);
$rc-spring-green-30: mix($rc-spring-green, $white, 30%);
$rc-spring-green-20: mix($rc-spring-green, $white, 20%);
$rc-spring-green-10: mix($rc-spring-green, $white, 10%);

// purple
$rc-purple: #669;
$rc-purple-90: mix($rc-purple, $white, 90%);
$rc-purple-80: mix($rc-purple, $white, 80%);
$rc-purple-70: mix($rc-purple, $white, 70%);
$rc-purple-60: mix($rc-purple, $white, 60%);
$rc-purple-50: mix($rc-purple, $white, 50%);
$rc-purple-40: mix($rc-purple, $white, 40%);
$rc-purple-30: mix($rc-purple, $white, 30%);
$rc-purple-20: mix($rc-purple, $white, 20%);
$rc-purple-10: mix($rc-purple, $white, 10%);

// Other
// ==========================================================================

//crusta orange
$rc-crusta-orange: #ff7c33;
$rc-crusta-orange-90: mix($rc-crusta-orange, $white, 90%);
$rc-crusta-orange-80: mix($rc-crusta-orange, $white, 80%);
$rc-crusta-orange-70: mix($rc-crusta-orange, $white, 70%);
$rc-crusta-orange-60: mix($rc-crusta-orange, $white, 60%);
$rc-crusta-orange-50: mix($rc-crusta-orange, $white, 50%);
$rc-crusta-orange-40: mix($rc-crusta-orange, $white, 40%);
$rc-crusta-orange-30: mix($rc-crusta-orange, $white, 30%);
$rc-crusta-orange-20: mix($rc-crusta-orange, $white, 20%);
$rc-crusta-orange-10: mix($rc-crusta-orange, $white, 10%);

// supernova
$rc-supernova: #ffcc02;
$rc-supernova-90: mix($rc-supernova, $white, 90%);
$rc-supernova-80: mix($rc-supernova, $white, 80%);
$rc-supernova-70: mix($rc-supernova, $white, 70%);
$rc-supernova-60: mix($rc-supernova, $white, 60%);
$rc-supernova-50: mix($rc-supernova, $white, 50%);
$rc-supernova-40: mix($rc-supernova, $white, 40%);
$rc-supernova-30: mix($rc-supernova, $white, 30%);
$rc-supernova-20: mix($rc-supernova, $white, 20%);
$rc-supernova-10: mix($rc-supernova, $white, 10%);

// emerald
$rc-emerald: #56d07d;
$rc-emerald-90: mix($rc-emerald, $white, 90%);
$rc-emerald-80: mix($rc-emerald, $white, 80%);
$rc-emerald-70: mix($rc-emerald, $white, 70%);
$rc-emerald-60: mix($rc-emerald, $white, 60%);
$rc-emerald-50: mix($rc-emerald, $white, 50%);
$rc-emerald-40: mix($rc-emerald, $white, 40%);
$rc-emerald-30: mix($rc-emerald, $white, 30%);
$rc-emerald-20: mix($rc-emerald, $white, 20%);
$rc-emerald-10: mix($rc-emerald, $white, 10%);

// pomegranate
$rc-pomegranate: #ed342f;
$rc-pomegranate-90: mix($rc-pomegranate, $white, 90%);
$rc-pomegranate-80: mix($rc-pomegranate, $white, 80%);
$rc-pomegranate-70: mix($rc-pomegranate, $white, 70%);
$rc-pomegranate-60: mix($rc-pomegranate, $white, 60%);
$rc-pomegranate-50: mix($rc-pomegranate, $white, 50%);
$rc-pomegranate-40: mix($rc-pomegranate, $white, 40%);
$rc-pomegranate-30: mix($rc-pomegranate, $white, 30%);
$rc-pomegranate-20: mix($rc-pomegranate, $white, 20%);
$rc-pomegranate-10: mix($rc-pomegranate, $white, 10%);

// ==========================================================================
// Marketplace colours
// ==========================================================================

$mp-black: #000;

$mp-green: #5cb85c;
$mp-green-90: mix($mp-green, $white, 90%);
$mp-green-80: mix($mp-green, $white, 80%);
$mp-green-70: mix($mp-green, $white, 70%);
$mp-green-60: mix($mp-green, $white, 60%);
$mp-green-50: mix($mp-green, $white, 50%);
$mp-green-40: mix($mp-green, $white, 40%);
$mp-green-30: mix($mp-green, $white, 30%);
$mp-green-20: mix($mp-green, $white, 20%);
$mp-green-10: mix($mp-green, $white, 10%);
$mp-green-5: mix($mp-green, $white, 5%);
$mp-green-4: mix($mp-green, $white, 4%);
$mp-green-3: mix($mp-green, $white, 3%);
$mp-green-2: mix($mp-green, $white, 2%);
$mp-green-1: mix($mp-green, $white, 1%);

$mp-dark-green: mix($mp-green, #000, 50%);

$mp-orange: #f80;
$mp-orange-90: mix($mp-orange, $white, 90%);
$mp-orange-80: mix($mp-orange, $white, 80%);
$mp-orange-70: mix($mp-orange, $white, 70%);
$mp-orange-60: mix($mp-orange, $white, 60%);
$mp-orange-50: mix($mp-orange, $white, 50%);
$mp-orange-40: mix($mp-orange, $white, 40%);
$mp-orange-30: mix($mp-orange, $white, 30%);
$mp-orange-20: mix($mp-orange, $white, 20%);
$mp-orange-10: mix($mp-orange, $white, 10%);
$mp-orange-5: mix($mp-orange, $white, 5%);
$mp-orange-4: mix($mp-orange, $white, 4%);
$mp-orange-3: mix($mp-orange, $white, 3%);
$mp-orange-2: mix($mp-orange, $white, 2%);
$mp-orange-1: mix($mp-orange, $white, 1%);

$mp-amber: #f2c100;
$mp-amber-90: mix($mp-amber, $white, 90%);
$mp-amber-80: mix($mp-amber, $white, 80%);
$mp-amber-70: mix($mp-amber, $white, 70%);
$mp-amber-60: mix($mp-amber, $white, 60%);
$mp-amber-50: mix($mp-amber, $white, 50%);
$mp-amber-40: mix($mp-amber, $white, 40%);
$mp-amber-30: mix($mp-amber, $white, 30%);
$mp-amber-20: mix($mp-amber, $white, 20%);
$mp-amber-10: mix($mp-amber, $white, 10%);
$mp-amber-5: mix($mp-amber, $white, 5%);
$mp-amber-4: mix($mp-amber, $white, 4%);
$mp-amber-3: mix($mp-amber, $white, 3%);
$mp-amber-2: mix($mp-amber, $white, 2%);
$mp-amber-1: mix($mp-amber, $white, 1%);

$mp-red: #d00;
$mp-red-90: mix($mp-red, $white, 90%);
$mp-red-80: mix($mp-red, $white, 80%);
$mp-red-70: mix($mp-red, $white, 70%);
$mp-red-60: mix($mp-red, $white, 60%);
$mp-red-50: mix($mp-red, $white, 50%);
$mp-red-40: mix($mp-red, $white, 40%);
$mp-red-30: mix($mp-red, $white, 30%);
$mp-red-20: mix($mp-red, $white, 20%);
$mp-red-10: mix($mp-red, $white, 10%);
$mp-red-5: mix($mp-red, $white, 5%);
$mp-red-4: mix($mp-red, $white, 4%);
$mp-red-3: mix($mp-red, $white, 3%);
$mp-red-2: mix($mp-red, $white, 2%);
$mp-red-1: mix($mp-red, $white, 1%);

$mp-blue: #006092;
$mp-blue-90: mix($mp-blue, $white, 90%);
$mp-blue-80: mix($mp-blue, $white, 80%);
$mp-blue-70: mix($mp-blue, $white, 70%);
$mp-blue-60: mix($mp-blue, $white, 60%);
$mp-blue-50: mix($mp-blue, $white, 50%);
$mp-blue-40: mix($mp-blue, $white, 40%);
$mp-blue-30: mix($mp-blue, $white, 30%);
$mp-blue-20: mix($mp-blue, $white, 20%);
$mp-blue-10: mix($mp-blue, $white, 10%);
$mp-blue-5: mix($mp-blue, $white, 5%);
$mp-blue-4: mix($mp-blue, $white, 4%);
$mp-blue-3: mix($mp-blue, $white, 3%);
$mp-blue-2: mix($mp-blue, $white, 2%);
$mp-blue-1: mix($mp-blue, $white, 1%);

$mp-grey: #ccc;

$mp-dark-grey: #212121;
$mp-dark-grey-90: mix($mp-dark-grey, $white, 90%);
$mp-dark-grey-80: mix($mp-dark-grey, $white, 80%);
$mp-dark-grey-70: mix($mp-dark-grey, $white, 70%);
$mp-dark-grey-60: mix($mp-dark-grey, $white, 60%);
$mp-dark-grey-50: mix($mp-dark-grey, $white, 50%);
$mp-dark-grey-40: mix($mp-dark-grey, $white, 40%);
$mp-dark-grey-30: mix($mp-dark-grey, $white, 30%);
$mp-dark-grey-20: mix($mp-dark-grey, $white, 20%);
$mp-dark-grey-10: mix($mp-dark-grey, $white, 10%);
$mp-dark-grey-5: mix($mp-dark-grey, $white, 5%);

$mp-white: $white;

// ==========================================================================
// CAR CLASS COLOURS
// ==========================================================================
$ecmr: #1b8495;
$nsmr: #afa01f;
$cdmr: #053eae;
$ccar: #ee4293;
$dmbr: #fbe946;
$iwar: #5761e5;
$iwmr: #a22d64;
$fvar: #15a267;

// ==========================================================================
// Buttons
// ==========================================================================

$default-color: $rc-white;
$primary-color: $rc-dodger-blue;
$success-color: $mp-green;
$info-color: $rc-dodger-blue;
$warning-color: $mp-orange;
$danger-color: $mp-red;

